<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Keybotrain</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Keybotrain", "Index", "Home", new { area = "" }
           , new { @class = "navbar-brand", title = "Keyboard trainer \"Keybotrain\" | Клавиатурный тренажер \"Keybotrain\"", style = "text-shadow: #666 0 0 30px;font-weight:bolder;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="menu_learning">@Html.ActionLink("Обучение", "Learning", "Home")</li>
                    <li id="personal_page">@Html.ActionLink("Моя страница", "PersonalPage", "Home")</li>
                    <li id="rating">@Html.ActionLink("Рейтинг", "Rating", "Home")</li>
                    @*<li><a href="#" id="hide_all">Hide</a></li>*@
                   
                    
                    <li class="dropdown nav_menu_show hideble" style="display: none;" id="_dict_sel">
                        <a href="#" class="dropdown-toggle head" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Select dictonary | Выберите словарь" id="_dict_sel">Выбор | Select<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                     <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#" title="English keyboard">English</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="#eng_basic" title="0–59">English start</a></li>
                                            <li><a tabindex="-1" href="#eng_begin" title="60–109">English begin</a></li>
                                            <li><a tabindex="-1" href="#eng_speed" title="110–199">English speed</a></li>
                                            <li><a tabindex="-1" href="#eng_adv" title="200–∞">English training</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider">asdfasd</li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#" title="Русская раскладка">Русский</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="#rus_basic" title="0–59">Русский старт</a></li>
                                            <li><a tabindex="-1" href="#rus_begin" title="60–109">Русский начальный</a></li>
                                            <li><a tabindex="-1" href="#rus_speed" title="110–199">Русский скорость</a></li>
                                            <li><a tabindex="-1" href="#rus_adv" title="200–∞">Русский тренировка</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#" title="Українська">Українська</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="#ukr_basic" title="0–59">Українська стартовий</a></li>
                                            <li><a tabindex="-1" href="#ukr_begin" title="60–109">Українська початковий</a></li>
                                            <li><a tabindex="-1" href="#ukr_speed" title="110–199">Українська швидкість</a></li>
                                            <li><a tabindex="-1" href="#ukr_adv" title="200–∞">Українська тренування</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a>Dictionary | Словарь</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#rus_dict_eng_top">Start (eng / рус)</a></li>
                                            <li><a href="#eng_dictrev_rus_top">Start (рус / eng)</a></li>
                                            <li><a href="#rus_dict_eng_top2">Middle (eng / рус)</a></li>
                                            <li><a href="#eng_dictrev_rus_top2">Middle (рус / eng)</a></li>
                                            <li><a href="#rus_dict_eng">Business (eng / рус)</a></li>
                                            <li><a href="#eng_dictrev_rus">Business (рус / eng)</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#num_begin">Numline | Цифровой ряд</a></li>
                                    <li><a href="#numpad">Numpad | Цифровой блок</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#mydict" class="link" id="menu_mydict">My text | Мой текст</a></li>
                                </ul>
                        </li>

                    <li>
                        <a id="_refresh" class="hideble" style="display: none;">
                            <img src="~/Content/images/Refresh.png" width="20"/>
                        </a>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right img-circle nav_menu_show">
                    <li><a><img src="~/Content/images/speed.png" heigth="20" width="20"></a></li>
                    <li><a id="speedometer"></a></li>
                    <li><a><img src="~/Content/images/mistake.png" heigth="20" width="20"></a></li>
                    <li><a id="mistake"></a></li>
                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()

    <nav class="navbar-default navbar-fixed-bottom">
        <div class="row  text-center">
            <div class="col-md-3"><a><p>&copy; @DateTime.Now.Year - Keybotrain</p></a>
            </div>
            <div class="col-md-3">
                <a mailto="info@keybotrain.com">info@keybotrain.com</a>
            </div>
            <div class="col-md-3">
                <a href="http://vk.com/keybotrain" target="_blank" onclick="$('#intext').focus();"><img src="~/Content/images/vk_icon.png" alt="" style="width:16px; height:16px; vertical-align:central; margin-right:5px;" />Группа в VK</a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <!-- counter.1Gb.ua -->
                <script language="javascript" type="text/javascript">
                    cgb_js = "1.0"; cgb_r = "" + Math.random() + "&r=" +
                    escape(document.referrer) + "&pg=" +
                    escape(window.location.href);
                    document.cookie = "rqbct=1; path=/"; cgb_r += "&c=" +
                    (document.cookie ? "Y" : "N");
                </script>
                <script language="javascript1.1" type="text/javascript">
                    cgb_js = "1.1"; cgb_r += "&j=" +
                    (navigator.javaEnabled() ? "Y" : "N")</script>
                <script language="javascript1.2" type="text/javascript">
                    cgb_js = "1.2"; cgb_r += "&wh=" + screen.width +
                    'x' + screen.height + "&px=" +
                    (((navigator.appName.substring(0, 3) == "Mic")) ?
                    screen.colorDepth : screen.pixelDepth)</script>
                <script language="javascript1.3" type="text/javascript">
                    cgb_js = "1.3"</script>
                <script language="javascript"
                        type="text/javascript">
                    cgb_r += "&js=" + cgb_js;
                    document.write("<a href='http://www.1Gb.ua?cnt=19292'>" +
                    "<img style=\"filter: grayscale(100%);\" src='http://counter.1Gb.ua/cnt.aspx?" +
                    "u=19292&" + cgb_r +
                    "&' border=0 width=50 height=24 " +
                    "alt='1Gb.ua counter'><\/a>")</script>
            </div>
        </div>
    </nav>



</body>
</html>
