<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Keybotrain</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Keybotrain", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Обучение", "Learning", "Home")</li>
                    <li>@Html.ActionLink("Моя страница", "About", "Home")</li>
                    <li>@Html.ActionLink("Рейтинг", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    @RenderBody()
     
    <nav class="navbar-fixed-bottom navbar-inverse">
        <div class="row  text-center">
            <div class="col-md-4">
                <p>&copy; @DateTime.Now.Year - Keybotrain</p>
            </div>
            <div class="col-md-4">
                info@keybotrain.com
            </div>
            <div class="col-md-4">
                <a href="http://vk.com/keybotrain" target="_blank" onclick="$('#intext').focus();"><img src="https://vk.com/images/vk16.png" alt="" style="width:16px; height:16px; vertical-align:central; margin-right:5px;" />Группа в VK</a>
            </div>
        </div>
    </nav>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
