<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Keybotrain</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Keybotrain", "Index", "Home", new { area = "" }
           , new { @class = "navbar-brand", title = "Keyboard trainer \"Keybotrain\" | Клавиатурный тренажер \"Keybotrain\"", style= "text-shadow: #666 0 0 30px;font-weight:bolder;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="menu_learning">@Html.ActionLink("Обучение", "Learning", "Home")</li>
                    <li id="personal_page">@Html.ActionLink("Моя страница", "PersonalPage", "Home")</li>
                    <li id="rating">@Html.ActionLink("Рейтинг", "Rating", "Home")</li>
                    <li><a href="#" id="hide_all">Hide</a></li>
                    <li><a></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right img-circle">
                    <li><a><img src="~/Content/images/speed.png" heigth="20" width="20"></a></li>
                    <li><a id="speedometer"></a></li>
                    <li><a><img src="~/Content/images/mistake.png" heigth="20" width="20"></a></li>
                    <li><a id="mistake"></a></li>
                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()

    <nav class="navbar-default navbar-fixed-bottom">
        <div class="row  text-center">
            <div class="col-md-3">
                <p>&copy; @DateTime.Now.Year - Keybotrain</p>
            </div>
            <div class="col-md-3">
                <a mailto="info@keybotrain.com">info@keybotrain.com</a>
            </div>
            <div class="col-md-3">
                <a href="http://vk.com/keybotrain" target="_blank" onclick="$('#intext').focus();"><img src="~/Content/images/vk_icon.png" alt="" style="width:16px; height:16px; vertical-align:central; margin-right:5px;" />Группа в VK</a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <!-- counter.1Gb.ua -->
                <script language="javascript" type="text/javascript">
                    cgb_js = "1.0"; cgb_r = "" + Math.random() + "&r=" +
                    escape(document.referrer) + "&pg=" +
                    escape(window.location.href);
                    document.cookie = "rqbct=1; path=/"; cgb_r += "&c=" +
                    (document.cookie ? "Y" : "N");
                </script>
                <script language="javascript1.1" type="text/javascript">
                    cgb_js = "1.1"; cgb_r += "&j=" +
                    (navigator.javaEnabled() ? "Y" : "N")</script>
                <script language="javascript1.2" type="text/javascript">
                    cgb_js = "1.2"; cgb_r += "&wh=" + screen.width +
                    'x' + screen.height + "&px=" +
                    (((navigator.appName.substring(0, 3) == "Mic")) ?
                    screen.colorDepth : screen.pixelDepth)</script>
                <script language="javascript1.3" type="text/javascript">
                    cgb_js = "1.3"</script>
                <script language="javascript"
                        type="text/javascript">
                    cgb_r += "&js=" + cgb_js;
                    document.write("<a href='http://www.1Gb.ua?cnt=19292'>" +
                    "<img src='http://counter.1Gb.ua/cnt.aspx?" +
                    "u=19292&" + cgb_r +
                    "&' border=0 width=50 height=24 " +
                    "alt='1Gb.ua counter'><\/a>")</script>
                <noscript>
                    <a href='http://www.1Gb.ua?cnt=19292'>
                        <img src="http://counter.1Gb.ua/cnt.aspx?u=19292"
                             border=0 width="50" height="24" alt="1Gb.ua counter">
                    </a>
                </noscript>
                <!-- /counter.1Gb.ua -->
            </div>
        </div>
    </nav>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>
    <script>
    // Устанавливаем изображение, которое будет являться фоном веб-страницы
        $.backstretch("Content/images/Stewarding Life-gray background.jpg");
    </script>


</body>
</html>
